.genericShoppingTable {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    
    table-layout: fixed;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 20px;
    /* margin-right: 1%; */
    margin-left: auto;
    margin-right: auto;
}

/* .genericShoppingTable td {
    box-sizing: content-box;
    width: 25%; */
    /* Set the width of each cell to 25% for 4 equally spread cells */
    /* padding: 10px;
    margin: 0;
    border: none;
} */

 .shopping-cart-table {
    /* width: 100%; */
    height: auto;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}

.shopping-cart-item {
    padding: 5% 6%;
    height: 100px;
    width: auto;
    display: grid;
    flex-direction: row;
    display:block;
    flex-direction: row;
}

.shopping-cart-item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.buttons-cart {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.delete-btn {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    Cursor: pointer;
}

.delete-btn {
    margin-right: auto;
    margin-left: auto;
    width: 18px;
    height: 17px;
}


.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

.image-cart {
    margin-right: 50px;
}

.item-image-cart {
    height: 50px;
    display: contents;
}

.description-cart {
    padding-top: 10px;
    margin-right: 60px;
    width: 100%;
}

.description-cart span {
    display: block;
    font-size: 16pt;
    color: #43484D;
    font-weight: 400;
}

.description-cart span:first-child {
    margin-bottom: 5px;
}

.description-cart span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity-cart {
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.quantity-cart input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
} */

.edit-btn  {
    color: black;
    width: 35px;
    height: auto;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


button:focus,
input:focus {
    outline: 0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 800px) {
    .shopping-cart-table {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .shopping-cart-item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-cart img {
        width: 50%;
    }

    .image-cart,
    .quantity-cart,
    .description-cart {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons-cart {
        margin-right: 20px;
    }
}