body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

.top-bar { 
  background: #eaa639; 
  height: 45px; 
  padding: 8px 0px;
}
.top-bar a {
  color: white; 
  text-decoration: none; 
  font-size: 18px;
}

.navbar-brand img {
  height: 50px;
}

.navbar {
  font-size: 16px; 
  font-weight: 600; 
  letter-spacing: 1.5;
  white-space: nowrap;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.nav-item {
  padding: 0 100px;
}

.nav-link {color: #5b5555!important}
.nav-link.active, .nav-link:hover {color: #4981b3!important}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 15px 15px 15px rgba(0,0,0,.1);
}
.carousel-inner {
  max-height: 600px;
}

/*-- Carousel Content --*/

.carousel-caption {
  position: absolute; 
  top:55%; 
  transform: translateY(-50%); 
  text-transform: uppercase;
}

.bg-custom {
  background-color: rgba(0,0,0,.5);
  border-radius: 16px;
}

.carousel-caption h1{ 
  font-size: 60;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1); 
}

.border-primary {
  border-top: 1pxsolid #67a7d4!important;
}

.btn-lg {
  border-radius: 0%;
  font-size: smaller;
}
  
/*===== FIXED BACKGROUND IMG =====*/
.fixed{
  background-image: url('/Users/nadezdamelnikova/Downloads/CS364.CSS.And.Bootstrap.StarterPack/img/matrix.jpg');
  position: fixed;
}

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/ padding: 160px 0px;
  }
  
/*============= FOOTER & SOCKET=============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
#login-block {
  padding-top: 40px;
}
#register-block {
  padding-top: 40px;
  align-content: center;
  align-items: center;
}
#last-line {
  align-self: center;
}