body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: hsl(210, 8%, 41%);
  /* margin: 0px; */
}
.container {
  width: fit-content;
}

.top-bar { 
  background: #eaa639; 
  height: 45px; 
  padding: 8px 0px;
}
.top-bar a {
  color: white; 
  text-decoration: none; 
  font-size: 18px;
}

.navbar-brand img {
  float: left; 
  height: 50px;
}
.navbar-nav {
  float: left;
}
.navbar {
  float: left; 
  font-size: 15px;
  font-weight: 600; 
  letter-spacing: 1.4;
  white-space: nowrap;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  width: 100%;
  /* border-top: 1px solid #2b2e30; */
  /* overflow: hidden; */
  /* min-width: 650px; */
}

.nav-item {
  box-sizing: border-box;
  float: left;
  padding: 0 100px;
  /* display: inline-block; */
}

.nav-link {color: #5b5555!important}
.nav-link.active, .nav-link:hover {color: #4981b3!important}


/*============= FOOTER & SOCKET=============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
/* @media (max-width: 1199.98px) {

} */
/* Devices under 768px (md) */
/* @media (max-width: 767.98px) {

} */


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
#login-block {
  padding-top: 40px;
}
#register-block {
  padding-top: 40px;
  align-content: center;
  align-items: center;
}
#last-line {
  align-self: center;
}

.dropbtn {
  /* box-sizing: border-box; */
  min-width: 200px;
  /* padding: 0 90px; */
  display: inline-block;
  background-color: #e5bc7a;
  font-size: 16px;
  border: none;
  /* margin-right: 10px; */
}

#dropdown {
  /* position: fixed; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  background-color: #ffdfab;
  border: 10px #5b5555;
  text-align: right;
}

.dropdown-content a {
  color: black;
  /* padding: 0px 90px; */
  text-decoration: none;
  display: block;
  border: #5b5555;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
